<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <!-- JSP CONFIGURATION -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>

    <!-- CONTEXT PARAMETERS -->
    <context-param>
        <param-name>SMTP_HOST</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>SMTP_PORT</param-name>
        <param-value>587</param-value>
    </context-param>

    <context-param>
        <param-name>SMTP_USERNAME</param-name>
        <param-value>compair.noreply@gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>SMTP_PASSWORD</param-name>
        <param-value>SvplUw}L.G(btWpF</param-value>
    </context-param>

    <!-- ERROR PAGES -->
    <!--
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/java.jsp</location>
    </error-page>
-->
    <!-- WELCOME -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- SESSION -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>